{
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "proseWrap": "never",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ],
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "jsxBracketSameLine": false,
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "auto",
  "ignorePath": ".prettierignore"
}
